.step-one{
    background-color:mintcream;
  }
  ion-slide
  {
    height: 25%;
    flex-direction: column;
    text-align: justify;
   
  
  
  h1{
    text-align: center;
  }
  p{
    text-align: center;
  }
  }
  .lastfix{
    position: fixed;
    bottom: 0%;
    width: 95%;
  }
  
