<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openCart()">
      
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

<p><b>Enter Phone number for verification</b></p>
  <small>
    This number will be used for all ride-related communication.You shall receive an SMS with code for verification.
  </small>
  
  <form>
    <ion-item >
      
            <ion-label position="floating">Your Mobile Number</ion-label>
            <ion-input type='number' class="step-three"></ion-input>
          
    </ion-item>
  </form>

    <ion-grid>
    <ion-row >
      <ion-col>
        <ion-button type="submit" color="secondary" expand="block" class="button-class"  (click)="openCart()">Next</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

    
</ion-content>
